<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>한잔해</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/main/css/main.css" />
	<style>
	</style>
</head>
<body class="is-preload">
<div id="page-wrapper">

	<!-- Header -->
	<div id="header">

		<!-- Logo -->
		<h1 style="text-decoration-color: #19c9c0">
			<a href="/" id="logo" ><em >술꾼도시사람들</em></a>
		</h1>

		<!-- Nav -->
		<!--<nav id="nav">
            <ul>
                <li><a href="/">메인화면</a></li>
                <li><a href="/choiceSulPage">안주 추천</a></li>
                <li><a href="#">랜덤채팅</a></li>
                <li><a href="#">게시판</a>
                    <ul>
                        <li><a href="#">소주게시판</a></li>
                        <li><a href="#">맥주게시판</a></li>
                        <li><a href="#">와인게시판</a></li>
                        <li><a href="#">보드카게시판</a></li>
                        <li><a href="#">위스키게시판</a></li>
                    </ul></li>-->
		<!--<li class="current"><a href="loginPage">로그인</a></li>
    </ul>
</nav>

</div>-->

		<!-- Main -->
		<section class="wrapper style1">
			<div class="container">
				<div id="content">
					<!-- Content -->
					<article>
						<h2 class="major">로그인</h2>
						<form method="post"
							   accept-charset="UTF-8">
							<div class="fields">
								<div class="field half">
									<label for="ID">아이디</label> <input type="text"
																	   id="inputLoginId" placeholder="아이디 입력" name="userId"
																	   required="required">
								</div>
								<div class="field half">
									<label for="PW">비밀번호</label> <input type="password"
																		id="inputLoginPw" placeholder="비밀번호 입력" name="userPw"
																		required="required">
								</div>
							</div>
							<div class="myFields" id="loginInputDiv">
								<div class="myField">
									<label class="myLabel" for="loginInputLabel">loglogloglog</label>
								</div>
							</div>
							<div class="btnFields">
								<div class="field">
									<input type="hidden" name="pathChoiceNum" value="0">
									<input type="button" value="로그인" onclick="loginAjax()" class="primary" />
								</div>
							</div>
						</form>
					</article>

				</div>
			</div>
		</section>

		<!-- Footer -->
		<div id="footer">
			<a class="loginATag" href="findIdPage">아이디 찾기</a> <a
				class="loginATag" href="findPwPage">비밀번호 찾기</a> <a class="loginATag"
																   href="/registPage">회원가입</a>
			<!-- Copyright -->
			<div class="copyright">
				<p class="copyright">&copy; Design: 서덕영</p>
			</div>
		</div>

	</div>
	<!-- Scripts -->
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/main/js/jquery.dropotron.min.js"></script>
	<script src="/main/js/browser.min.js"></script>
	<script src="/main/js/breakpoints.min.js"></script>
	<script src="/main/js/util.js"></script>
	<script src="/main/js/main.js"></script>

</body>
</html>