<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>통합 게시판</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/board/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>
				<a href="/">메인화면</a>
			</h1>
			<nav class="links">
				<ul>
					<li><a href="boardPage">전체</a></li>
					<li><a href="sojuboardPage">소주</a></li>
					<li><a href="beerboardPage">맥주</a></li>
					<li><a href="wineboardPage">와인</a></li>
					<li><a href="vodkaboardPage">보드카</a></li>
					<li><a href="whiskeyboardPage">위스키</a></li>
					<li><a href="freeboardPage">자유</a></li>

					<li th:unless="${session.check}==null" id="showBoardUserName"><a href="/myInfoPage"><input type="hidden" th:text="${session.sessionVo.userId}"><input type="hidden" th:text="님"></a>

				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li class="search"><a class="fa-search" href="#search">Search</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form></li>
					<li class="menu"><a class="fa-bars" href="#menu">Menu</a></li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Search -->
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</section>

			<!-- Links -->
			<section>
				<ul class="links">
					<li><a href="#">
							<h3>내가 작성한 글</h3>
							<p>작성한 글 보러가기</p>
					</a></li>
					<li><a href="#">
							<h3>좋아요</h3>
							<p>좋아요 누른 글 보러가기</p>
					</a></li>
					<li><a href="#">
							<h3>댓글</h3>
							<p>댓글 작성한 글 보러가기</p>
					</a></li>
				</ul>
			</section>

			<!-- Actions -->
			<section>

				<ul th:if="${session.check}==null" class="actions stacked">
					<li><a href="/boardLoginPage" class="button large fit"
						   onclick="boardGoLogin">로그인</a></li>
				</ul>
				<ul th:unless="${session.check}==null" class="actions stacked">
					<li><a href="/boardLogout" class="button large fit">로그아웃</a></li>
				</ul>




			</section>

		</section>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<article class="post">
				<ul class="firstUlStyle">
					<li id="boardSul">분류</li>
					<li id="boardTitle" style="width: 830px">제목</li>
					<li id="boardWriter">작성자</li>
					<!-- 날짜 포맷 -->
					<li id="boardRegdate">날짜</li>
					<li id="boardClickCnt">조회수</li>
					<li id="boardLikeBtn">추천</li>
				</ul>
				<ul th:each="alReg : ${list}">
					<li id="boardSul"><a><input type="hidden" th:text="${alReg.sul}"></a></li>
					<li id="boardTitle" style="width: 830px"><a
							th:href="'singleBoardPage'+${alReg.bno}"><input type="hidden" th:text="${alReg.title}"></a>
					</li>

					<li th:if="${session.sessionVo.registNumber}==${alReg.registNumber}" id="boardWriter">
						<a th:href="'myBoardPage'+${alReg.writer}"><input type="hidden" th:text="${alReg.writer}"></a></li>
					<li th:unless="${session.sessionVo.registNumber}==${alReg.registNumber}" id="boardWriter">
						<a th:href="'otherBoardPage'+${alReg.writer}"><input type="hidden" th:text="${alReg.writer}"></a></li>

					<!-- 날짜 포맷 -->
					<li id="boardRegdate" >
						<!--<fmt:parseDate value="${alReg.regdate}"
                            var="dateFmt" pattern="yyyy-MM-dd HH:mm:ss" /> <fmt:formatDate
                            value="${dateFmt}" var="yMd" pattern="yyyy.MM.dd" /> <fmt:formatDate
                            value="${dateFmt}" var="Hms" pattern="HH:mm" /> <!-- now는 맨위에서 현재날짜+시간 포맷한거, today는 오늘 날짜 -->
						<!--<fmt:formatDate value="${now}" pattern="yyyy.MM.dd" var="today" /> -->
						<!-- if로 비교 -->
						<input type="hidden" th:text="${alReg.regdate}">
					</li>
					<li id="boardClickCnt"><input type="hidden" th:text="${alReg.clickCnt}"></li>
					<li id="boardLikeBtn"><a class="icon solid fa-heart"
											 id="boardLikeColor"><input type="hidden" th:text="${alReg.likeBtn}"></a></li>
				</ul>


			</article>

			<!-- Pagination -->

			<ul class="actions pagination">
				<li><a href="createBoard" class="button large next" id="myboardbtn">글작성</a></li>
				<!--<li><a href="myBoardPage" class="button large next" id="showMyBoardBtn3">댓글</a></li>
				<li><a href="myBoardPage" class="button large next" id="showMyBoardBtn4">좋아요</a></li>-->
			</ul>

		</div>

	</div>

	<!-- Scripts -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/board/js/browser.min.js"></script>
	<script src="/board/js/breakpoints.min.js"></script>
	<script src="/board/js/util.js"></script>
	<script src="/board/js/main.js"></script>

</body>
</html>